@import 'main';
@import "./mixins/groups_mixin";
.container {
    @include flex-column;
    color: $color-text;
    header {
        background-color: $light-dark ;
        width: 85%;
        @include flex-column;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 8%;
        padding: 20px;
        gap: 20px;
        border-radius: 20px;

        h1 {
            font-size: 50px;
            letter-spacing: 5px;
        }

        p1 {
            font-size:25px;
            width: 70%;
            line-height: 1.5;
        }

        @include responsive ('tablet') {
            h1 {
                font-size: 40px;
                letter-spacing: 1px;
            }

            p1 {
                font-size:20px;
                width: 80%;
                line-height: 1.3;
            }

        }

        @include responsive ('mobile') {
            h1 {
                font-size: 30px;
                letter-spacing: 0.5px;
            }

            p1 {
                font-size: 14px;
                width: 85%;
                line-height: 1.2;
            }

        }
    }

    @include responsive ('tablet') {
        header {
            gap: 10px;
            margin-top:100px;
        }

    }

    @include responsive ('mobile') {
        header {
            width: 100%;
            gap: 5px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-top:90px;
            padding: 10px;
            border-radius: 0px;
        }

    }

    main {
        @include flex-column;
        text-align: center;

        h1 {
            display: flex;
            align-self: center;
            font-size: 50px;
            margin-top: 15%;
            letter-spacing: 1px;
        }

        @include responsive ('tablet') {
            h1 {
                font-size: 40px;
                margin-bottom:0%;
            }
        }

        @include responsive ('mobile') {
            h1 {
                font-size: 30px;
                margin: {
                    top: 20%;
                    bottom:25%;
                }
            }
        }

        .main-card {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 13% 0% 0% 0%;

            .card-bio {
                background-color: $color-cards;
                width: 20%;
                @include flex-column;
                gap: 10px;
                border-radius: 20px;
                padding: 0 2% 2% 2%;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    border: 5px solid $color-text;
                    margin-top: -125px;
                }

                h3 {
                    font-size: 30px;
                }

                p1 {
                    font-size: 20px;
                    margin-top: 5px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    line-height: 1.5;
                }

                @include responsive ('tablet') {
                    img {
                        width: 160px;
                        height: 160px;
                        border-radius: 50%;
                        border: 4px solid $color-text;
                        margin-top: -100px;
                    }

                    h3 {
                        font-size:20px;
                    }

                    p1 {
                        font-size: 15px;
                        line-height: 17px;
                    }
                }

                @include responsive ('mobile') {
                    img {
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        margin-top: -80px;
                    }

                    h3 {
                        font-size:19px;
                        margin-top: 5%;
                    }

                    p1 {
                        width: 80%;
                        font-size: 13px;
                        margin-top: 5px;
                        line-height: 15px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }

                }


            }

            @include responsive ('tablet') {
                .card-bio {
                    width: 22%;
                    gap: 5px;
                    @include border-redius;
                    padding: 0 3% 3% 3%;
                }   

            }
            @include responsive ('mobile') {
                .card-bio {
                    width:50%;
                    margin: {
                        left: 0%;
                        bottom:35%;
                    }
                    border-radius: 15px;
                    padding: 0 0 5% 0;
                    gap:0px;
                }
            }
        }
        @include responsive ('tablet') {
            .main-card {
                padding: 16% 0% 0% 0%;
            }

        }

        @include responsive ('mobile') {
            .main-card {
                @include flex-column;
                padding:0 0 0 0;
            }
        }

        .main-bottom {
            background-color: $light-dark;
            width: 85%;
            @include flex-column;
            text-align: center;
            gap: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin: {
                top: 15%;
                bottom: 15%;
            }
            border-radius: 20px;
            padding: 20px;

            h1 {
                font-size: 50px;
                margin-top: 0;
            }

            p1 {
                font-size: 25px;
                width: 70%;
                line-height: 1.5;
            }

            @include responsive ('tablet') {
                h1 {
                    margin-top: 0;
                    font-size: 40px;
                    letter-spacing: 1px;
                }

                p1 {
                    font-size:20px;
                    width: 80%;
                }

            }
            @include responsive ('mobile') {
                h1 {
                    margin-bottom:5px;
                    font-size: 30px;
                }
            
                p1 {
                    font-size: 14px;
                    width: 85%;
                    line-height: 1.2;
                }
            }
        }

        @include responsive ('tablet') {
            .main-bottom {
                width: 85%;
                gap: 5px;
            }
        }
        @include responsive ('mobile') {
            .main-bottom {
                width: 100%;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                margin: {
                    top:-13%;
                    bottom:20%;
                }
                padding: 10px;
                border-radius: 0px;
                gap:0px;
            }
        }

    }

    @include responsive ('mobile') {
        main {
            @include flex-column;
            text-align: center;
        }
    }
}


