@import 'main';
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    header {
        background-color: rgba(0, 0, 0, 0.761);
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 8%;
        padding: 20px;
        gap: 20px;
        border-radius: 20px;

        h1 {
            font-size: 50px;
            letter-spacing: 5px;
        }

        p {
            font-size: 25px;
            width: 70%;
            line-height: 1.5;
        }

        @include responsive ('tablet') {
            h1 {
                font-size: 40px;
                letter-spacing: 1px;
            }

            p {
                font-size: 18px;
                width: 80%;
                line-height: 1.5;
            }

        }

        @include responsive ('mobile') {
            h1 {
                font-size: 30px;
                letter-spacing: 0.5px;
            }

            p {
                font-size: 14px;
                width: 85%;
                line-height: 1.2;
            }

        }
    }

    @include responsive ('tablet') {
        header {
            display: flex;
            gap: 10px;
            margin-top: 20%;
        }

    }

    @include responsive ('mobile') {
        header {
            background-color: rgba(0, 0, 0, 0.761);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-top: 30%;
            padding: 10px;
            border-radius: 0px;
        }

    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            display: flex;
            align-self: center;
            font-size: 50px;
            margin-top: 15%;
            letter-spacing: 1px;
        }

        @include responsive ('tablet') {
            h1 {
                font-size: 40px;
                letter-spacing: 1px;
                margin-top: 15%;
                margin-bottom:0%;
            }
        }

        @include responsive ('mobile') {
            h1 {
                display: flex;
                align-self: center;
                font-size: 30px;
                margin-top: 20%;
                margin-bottom:25%;
            }
        }

        .main-card {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 13% 0% 0% 0%;

            .card-bio {
                background-color: rgba(0, 0, 0, 0.761);
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                border-radius: 20px;
                padding: 0 2% 2% 2%;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    border: 5px solid white;
                    margin-top: -125px;
                }

                h3 {
                    font-size: 30px;
                }

                p {
                    font-size: 20px;
                    margin-top: 5px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    line-height: 1.5;
                }

                @include responsive ('tablet') {
                    img {
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        border: 4px solid white;
                        margin-top: -100px;
                    }

                    h3 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 13px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }
                }

                @include responsive ('mobile') {
                    img {
                        width: 140px;
                        height: 140px;
                        display: flex;
                        align-self: center;
                        border-radius: 50%;
                        border: 4px solid white;
                        margin-top: -80px;
                    }

                    h3 {
                        font-size:19px;
                        margin-top: 5%;
                    }

                    p {
                        width: 80%;
                        display: flex;
                        align-self: center;
                        font-size: 12px;
                        margin-top: 5px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }

                }


            }

            @include responsive ('tablet') {
                .card-bio {
                    background-color: rgba(0, 0, 0, 0.761);
                    width: 22%;
                    display: flex;
                    gap: 5px;
                    border-radius: 10px;
                    padding: 0 2% 2% 2%;
                }   

            }
            @include responsive ('mobile') {
                .card-bio {
                    background-color: rgba(0, 0, 0, 0.761);
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    margin-left: 0%;
                    margin-bottom:35%;
                    border-radius: 20px;
                    padding: 0 5% 5% 5%;
                    gap: 0px;
                }
            }
        }

        @include responsive ('tablet') {
            .main-card {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 16% 0% 0% 0%;
            }

        }

        @include responsive ('mobile') {
            .main-card {
                display: flex;
                flex-direction: column;
                padding:0% 0% 0% 0%;
            }
        }

        .main-bottom {
            background-color: rgba(0, 0, 0, 0.761);
            width: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            gap: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-top: 15%;
            border-radius: 20px;
            padding: 20px;

            h1 {
                font-size: 50px;
                margin-top: 0;
            }

            p {
                font-size: 25px;
                width: 70%;
                display: flex;
                line-height: 1.5;
            }

            @include responsive ('tablet') {
                h1 {
                    margin-top: 0;
                    font-size: 40px;
                    letter-spacing: 1px;
                }

                p {
                    font-size: 18px;
                    width: 80%;
                    line-height: 1.5;
                }

            }
            @include responsive ('mobile') {
                h1 {
                    margin-bottom:5px;
                    font-size: 30px;
                }
            
                p {
                    font-size: 14px;
                    width: 85%;
                    line-height: 1.2;
                }
            }
        }

        @include responsive ('tablet') {
            .main-bottom {
                background-color: rgba(0, 0, 0, 0.761);
                width: 85%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 5px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                border-radius: 20px;
                padding: 20px;
                margin-top: 15%;
            }
        }
        @include responsive ('mobile') {
            .main-bottom {
                background-color: rgba(22, 5, 5, 0.761);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                margin-top:0%;
                margin: -10%;
                padding: 10px;
                border-radius: 0px;
                gap:0px;
            }
        }

    }

    @include responsive ('mobile') {
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}


