* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
@import "./components/variables";
@import "./components/background";
@import "./mixins/breakpoint";
@import "components/navbar";
@import "./components/footer";