body {
   height: 100vh;
   width: 100vw;
   background: {
        image: url(../../images/background.jpg);
        repeat: no-repeat;
        size: cover;
        position: center;
        attachment: fixed;
   }
}
