@import "../mixins/breakpoint";
@import "../mixins/groups_mixin";
@import "card_songs";
@import "./card-music";

.mytap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1205px;
    margin: 110px auto;

    input[type='radio'] {
        display: none;
    }

    .taps {
        width: 150.5px;
        padding: 25px;
        background-color: $dark-black;
        text-align: center;
        font-weight: bold;
        color: $color-text;

    }
    
    @include responsive ("tablet"){
        .taps {
            width: 10.15%;
        }
    }
    @include responsive("mobile"){
        .taps {
            width: 15%;
            padding: 15px 3px ;
        }
    }
    
    .tab {
        width: $legth;
        height: 60vh;
        padding: 20px;
        background-color: $color-cards;
        border-radius: 0px 0px 10px 10px;
        order: 1;
        display: none;
        
        .album {
            @include border-redius;
            width:$legth;
            height: 95%;
            display: flex;
            margin: auto;
            gap: 20px;
            .fa-spin {
                width: 470px;
                height: $legth;
                border-radius: 400px;
                border: 3px solid $color-text;
                animation-duration: 15s;
            }
            @include responsive ("tablet"){
                .fa-spin {
                    width: 400px;
                    height: 60%;
                    align-self: center;
                }
            }
            @include responsive("mobile"){
                .fa-spin {
                    width: 70%;
                    height: 70%;
                }
            }
            
            .lists {
                @include border-redius;
                background-color:$light-dark;
                border: 1px solid rgba(255, 255, 255, 0.534);
                width: $legth;
                height: $legth;
                overflow: scroll;
                .scroll {
                    height: 40%;
                    
                }
                @include responsive("mobile"){
                    .scroll {
                        height: $legth;
                    }
                }
            
            }
            
        }
        
        @include responsive("mobile"){
            .album {
                flex-direction: column;
            }
        }
        
    }
    @include responsive("mobile"){
        .tab {
            height: 600px;
        }
    }
   
    
}
@include responsive ("tablet"){
    .mytap {
        margin: 90px auto;

    }
}

input[type='radio']:checked+label+.tab {
    display: block;
}

input[type='radio']:checked+label {
    background-color: rgb(14, 191, 64);
    transition: 0.5s;

}




